@import "variables";

.layout-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.layout-main {
  position: relative;
  padding-top: $header-height;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #1d1d1f;
}