@import "variables";
@import "breakPoints";

.layout-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.layout-main {
  position: relative;
  padding: 0 0 $header-height;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #1d1d1f;
}

@media #{$small-up} {
  .layout-main {
    padding: $header-height 0 0;
  }
}
