@import "../../../sass/base/breakPoints";
@import "../../../sass/base/variables";

.product-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: #171719;
  padding: 1rem;
  box-sizing: border-box;
}

.product-details-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;

  .cta-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: rgba(112, 113, 114, 0.4) 0 0 0 2px inset;
    color: #707172;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 200ms ease-out;
  }

  &:hover,
  &:focus {
    .cta-round {
      box-shadow: none;
      background-color: #3cd52e;
      color: #fff;
    }
  }
}

.product-details-close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  order: 1;

  .close-label {
    display: none;
    margin-left: 5px;
    font-weight: 800;
    text-transform: uppercase;
    color: #171719;

    .sub {
      font-size: .8rem;
    }

    .main {
      font-size: 1.4rem;
    }
  }
}

.product-details-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  order: 2;

  &.product-details-content-hide {
    .product-details-img-wrapper,
    .product-details-description-wrapper {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.product-details-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;

  .product-details-img {
    display: block;
    width: 40%;
    max-width: 220px;
    height: auto;
    transform: rotate(-8deg);
  }
}

.product-details-description-wrapper {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;

  h3 {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 800;
  }

  h1 {
    margin: 0 0 1.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
  }

  p {
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
  }

  a {
    display: inline-flex;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;

    .cta-round {
      font-size: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: .5rem;
    }
  }
}

@media #{$xsmall-only} {
  .product-details-nav {
    position: absolute;
    top: 4rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 24rem;
    padding: 0 1rem;
    box-sizing: border-box;

    .nav-anchor {
      display: block;
      font-size: 6rem;
      text-shadow: #666 0 0 10px;
      color: #000000;
      opacity: .1;
      transition: opacity .5s;
      outline: 0;
      text-decoration: none !important;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

@media #{$small-up} {
  .product-details-wrapper {
    flex-direction: row;
    min-height: calc(100vh - #{$header-height});
    padding: 1rem 0;
  }

  .product-details-close {
    width: 15%;
    min-width: 8.5rem;

    .close-label {
      display: block;
    }
  }

  .product-details-content {
    width: 70%;
  }

  .product-details-img-wrapper {
    justify-content: flex-end;
    width: 40%;
    padding: 0 3rem;

    .product-details-img {
      width: 100%;
    }
  }

  .product-details-description-wrapper {
    width: 60%;

    h3 {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    a {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
  }

  .product-details-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 15%;
    order: 3;

    .nav-anchor {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 6.25rem;
      height: 4rem;
      margin-bottom: 4px;
      color: #FFFFFF;
      background-color: #171719;
      text-decoration: none;
      outline: none;
      padding-left: 1rem;
      box-sizing: border-box;
      cursor: pointer;
      transition: background-color 200ms ease-out;

      &.right {
        order: -1;
      }

      &:hover,
      &:focus {
        background-color: #3cd52e;
      }
    }
  }
}
