<div class="product-background"
     [lazyLoad]="'/assets/img/texture-light.jpg'"></div>
<div class="product-details-wrapper"
     [@detailsFadeIn]="true">

    <ng-container *ngIf="product$ | async as product">
        <div class="product-details-content"
             [class.product-details-content-hide]="!(animation$ | async)"
             [@contentFadeInOut]="{value: animation$ | async, params: offset$ | async}"
             (@contentFadeInOut.done)="handleContentFadeInOutDone($event)">
            <div class="product-details-img-wrapper">
                <img class="product-details-img" [src]="'/assets/img/products/' + product.selected.img"/>
            </div>
            <div class="product-details-description-wrapper">
                <h3 class="product-details-description">{{product.selected.label.sub}}</h3>
                <h1 class="product-details-description">{{product.selected.label.main}}</h1>
                <p class="product-details-description">{{product.selected.description}}</p>
                <a class="product-details-description product-details-btn">Nutrition Info
                    <div class="cta-round"><i class="fas fa-chevron-right fa-xs"></i></div>
                </a>
            </div>
        </div>

        <a class="product-details-close product-details-btn" routerLink="/product/list">
            <div class="cta-round">
                <i class="fas fa-times fa-2x"></i>
            </div>
            <div class="close-label">
                <div class="sub">MTN Dew <sup>®</sup></div>
                <div class="main">LINEUP</div>
            </div>
        </a>

        <div class="product-details-nav">
            <a class="nav-anchor left" (click)="handleClickOnNav(product.nextId, 'left', $event)">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="nav-anchor right" (click)="handleClickOnNav(product.prevId, 'right', $event)">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </ng-container>
</div>