<div class="product-background"
     [lazyLoad]="'/assets/img/texture-light.jpg'"></div>
<div class="product-details-wrapper"
     [@detailsFadeIn]="true">

    <router-outlet #outlet="outlet"></router-outlet>

    <ng-container *ngIf="nav$ | async as nav">
        <a class="product-details-close product-details-btn" routerLink="/product/list">
            <div class="cta-round">
                <i class="fas fa-times fa-2x"></i>
            </div>
            <div class="close-label">
                <div class="sub">MTN Dew <sup>®</sup></div>
                <div class="main">LINEUP</div>
            </div>
        </a>

        <div class="product-details-nav">
            <a class="nav-anchor left" [routerLink]="['/product/details', nav.prevId]">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="nav-anchor right" [routerLink]="['/product/details', nav.nextId]">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </ng-container>
</div>