<div class="product-background"
     [lazyLoad]="'/assets/img/texture-dark.jpg'"></div>
<div class="product-list-wrapper" #wrapper>
    <div class="product-list-title">
        <h2>MTN DEW</h2>
        <h1>LINEUP</h1>
    </div>

    <ul class="product-list"
        [ngStyle]="{
            'transform': 'translateX('+ listMoveDistance +'px)'
        }"
        (slide)="handleSlideOnList($event)"
        (slidestart)="handleSlideStartOnList($event)"
        (slideend)="handleSlideEndOnList($event)"
        [@accordion]="listCanAccordion"
        #list>
        <li *ngFor="let item of list$ | async as list; index as i;"
            class="product-list-item"
            [@moveProduct]="getMoveProductStat(i)"
            [class.product-list-item-left]="i < hoverProductIndex"
            [class.product-list-item-right]="i > hoverProductIndex">
            <a class="product-anchor"
               [class.scaled]="listCanAccordion && i === hoverProductIndex"
               [@scaleProduct]="listCanAccordion && i === hoverProductIndex"
               (tap)="handleClickOnProductAnchor(item)"
               (mouseenter)="handleMouseEnterOnCard(i, $event)"
               (mouseleave)="handleMouseLeaveOnCard(i, $event)">
                <img class="product-img"
                     [@scaleRotateImg]="listCanAccordion && i === hoverProductIndex"
                     [src]="'/assets/img/products/' + item.img">
                <div class="product-cta">
                    <div class="product-cta-label">details</div>
                    <div class="product-cta-stroke"></div>
                </div>
                <div class="product-shadow" [@scaleShadow]="listCanAccordion && i === hoverProductIndex"></div>
                <div class="product-label">
                    <div class="product-label-sub">{{item.label.sub}}</div>
                    <div class="product-label-main">{{item.label.main}}</div>
                    <div class="product-label-stroke"></div>
                </div>
            </a>
        </li>
    </ul>
</div>
