<div class="product-list-wrapper" #wrapper>
    <div class="product-list-title">
        <h2>MTN DEW</h2>
        <h1>LINEUP</h1>
    </div>

    <ul class="product-list"
        [ngStyle]="{
            'transform': 'translateX('+ listMoveDistance +'px)'
        }"
        (slide)="handleSlideOnList($event)"
        (slidestart)="handleSlideStartOnList($event)"
        (slideend)="handleSlideEndOnList($event)"
        [@accordion]="listCanAccordion"
        [@listFadeInOut]="true"
        (@listFadeInOut.start)="fadeInOutStarted($event)"
        (@listFadeInOut.done)="fadeInOutDone($event)"
        #list>
        <li *ngFor="let item of list$ | async as list; index as i;"
            class="product-list-item"
            [@moveProduct]="getMoveProductStat(i)"
            [class.product-list-item-left]="i < hoverProductIndex"
            [class.product-list-item-right]="i > hoverProductIndex">
            <app-product-card [product]="item"
                              [scaled]="listCanAccordion && i === hoverProductIndex"
                              (mouseenter)="handleMouseEnterOnCard(card, i, $event)"
                              (mouseleave)="handleMouseLeaveOnCard(card, i, $event)"
                              #card="productCard"></app-product-card>
        </li>
    </ul>
</div>
