<a class="product-anchor" (tap)="handleClickOnProductAnchor($event)">
    <img class="product-img"
         [@scaleRotateImg]="scaled"
         [src]="'/assets/img/products/' + product.img">
    <div class="product-cta">
        <div class="product-cta-label">details</div>
        <div class="product-cta-stroke"></div>
    </div>
    <div class="product-shadow" [@scaleShadow]="scaled"></div>
</a>
<div class="product-label">
    <div class="product-label-sub">{{product.label.sub}}</div>
    <div class="product-label-main">{{product.label.main}}</div>
    <div class="product-label-stroke"></div>
</div>
