@import "../../../sass/base/breakPoints";

$tile-width: 380px;
$tile-height: 30rem;
$banner-bottom: 6rem;

.tile-list-wrapper {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.tile-list {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 5px 0;

  .tile {
    width: $tile-width;
    height: $tile-height;
    padding: 0 5px;
    box-sizing: border-box;
  }
}

@media #{$medium-up} {
  .tile-list-wrapper {
    position: absolute;
    opacity: .4;
    bottom: calc(-#{$tile-height} + #{$banner-bottom - 1rem});
    overflow-x: hidden;

    .tile-list {
      transition: left 300ms linear;
    }

    &.expanded {
      opacity: 1;
      bottom: 0;

      .tile-list {
        transform: translateY(calc(100% - #{$banner-bottom - 1rem}));
      }

      .tile {
        transform: translateY(calc((100% - #{$banner-bottom - 1rem}) * -1));
      }
    }
  }
}
