<a class="app-logo">
    <img src="/assets/img/dew-logo.svg">
</a>
<header class="app-header">
    <ul class="app-header-nav">
        <li class="app-header-nav-item">
            <a routerLink="/" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               class="app-header-nav-anchor">Home</a>
        </li>

        <li class="app-header-nav-item">
            <a routerLink="/sports" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               class="app-header-nav-anchor">SPORTS</a>
        </li>

        <li class="app-header-nav-item">
            <a routerLink="/vr" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               class="app-header-nav-anchor">DEW<sup>®</sup> VR</a>
        </li>

        <li class="app-header-nav-item">
            <a routerLink="/product" routerLinkActive="active" class="app-header-nav-anchor">Products</a>
        </li>
    </ul>
</header>
