.product-main {
  position: relative;
}

/deep/ .product-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: opacity .3s;
  opacity: 0;

  &.ng-lazyloaded {
    opacity: 1;
  }
}