<div class="home-wrapper">
    <div class="home-banner" #banner>
        <div class="home-banner-backdrop" [lazyLoad]="'/assets/img/' + backdrop.img"></div>
        <div class="home-banner-video" [style.height.px]="banner.offsetWidth * 9 / 16">
            <video class="original-video" preload="auto" loop autoplay="autoplay" muted>
                <source [src]="'/assets/videos/' + backdrop.video" type="video/mp4">
            </video>
        </div>
        <div class="home-banner-content">
            <h2 [innerHtml]="title.sub"></h2>
            <h1 [innerHtml]="title.main"></h1>
            <a>{{title.link.name}}<span class="cta-inline"><i class="fas fa-chevron-right fa-xs"></i></span></a>
        </div>
    </div>
    <div class="tile-list-wrapper"
         [class.on]="state"
         [@tileListWrapperAnimations]="{value: state, params: {offsetMinus: offsetBottom, offsetPlus: offsetBottom * -1}}"
         (mouseenter)="handleMouseEnterOnListWrapper($event)"
         (mouseleave)="handleMouseLeaveOnListWrapper($event)"
         (mousemove)="handleMouseMoveOnListWrapper($event)"
         #listWrapper>
        <ul class="tile-list"
            [style.left.px]="listLeft"
            [style.width.px]="tileWidth * tiles.length">
            <li class="tile" *ngFor="let tile of tiles">
                <app-tile [tile]="tile"></app-tile>
            </li>
        </ul>
    </div>
</div>
