@import "../../sass/base/breakPoints";

$tile-width: 380px;
$tile-height: 30rem;
$banner-bottom: 6rem;

.home-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.home-banner {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 65%;
  min-height: 320px;
  overflow: hidden;
}

.home-banner-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-banner-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 10%;
  transition: all 1s;
  opacity: 0;

  &.ng-lazyloaded {
    opacity: 1;
  }
}

.home-banner-content {
  position: relative;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, 0.65);
  }

  h1 {
    margin: 0;
    font-style: normal;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -.03em;
  }

  a {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 250ms ease-out;

    .cta-inline {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      margin-left: 5px;
      border-radius: 50%;
      box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 2px inset;
      background-color: transparent;
      transition: all 200ms ease-out;
    }
  }
}

@media #{$small-up} {
  .home-banner {
    justify-content: center;
    align-items: center;
  }

  .home-banner-content {
    align-items: center;

    h1 {
      font-size: 9vw;
      line-height: 9vw;
    }

    h2 {
      font-size: 2.2rem;
      line-height: 2.2rem;
      letter-spacing: .02em;
    }

    a {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 1.2rem 2.2rem;
      border: solid 3px rgba(255, 255, 255, 0.6);

      .cta-inline {
        display: none;
      }

      &:hover {
        background: #3cd52e;
        border-color: transparent;
      }
    }
  }
}

@media #{$medium-up} {
  .home-wrapper {
    overflow-y: hidden;
  }

  .home-banner {
    position: absolute;
    top: 0;
    bottom: $banner-bottom;
    width: 100%;
    height: auto;
  }

  .home-banner-backdrop {
    display: none;
  }

  .home-banner-video {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate3d(0, 0, 0);

    .original-video {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}
